.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 400px;
  height: 624px;
}

@media screen and (max-width: 480px) {
  .image {
    width: 850px;
    height: 1300px;
  }
}

.button {
  display: flex;
  width: 30%;
  margin-top: 30px;
  justify-content: space-between;
}

button {
  padding: 15px;
}
